.App {
  text-align: center;
  background-image: url(./assets/img/background-by-adult-swim.png);
  background-color: rgba(0, 0, 0, 0.50);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 18rem;
}

.card-title {
  text-align: left;
  font-size: 20px
}

.card-text {
  text-align: left;
  font-size: 15px;
}

.card-body {
  text-align: right;
}

.square {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.carrer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
